/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-message-input.main-view-message-input-1 vaadin-button {
  --lumo-button-size:var(--lumo-size-xs);
  border-radius:0;
}

vaadin-tabs.main-view-tabs-1 { padding:var(--lumo-space-xs); }

vaadin-tabs.main-view-tabs-1 vaadin-tab { font-size:var(--lumo-font-size-xs); }

vaadin-tabs.main-view-tabs-1::part(back-button) { font-size:var(--lumo-font-size-m); }
