# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

gradle
gradlew
gradlew.bat

.project
.classpath
.settings
.idea
.vscode

node_modules
generated

*.ts
tsconfig.json
package.json
package-lock.json
